#Button {
    /*-fx-padding: 8 15 15 15;*/
    /*-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;*/
    /*-fx-background-radius: 8;*/
    /*-fx-fit-to-width: true;*/
    /*-fx-background-color:*/
    /*        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),*/
    /*        #9d4024,*/
    /*        #d86e3a,*/
    /*        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);*/
    /*-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );*/
    /*-fx-font-weight: bold;*/
    /*-fx-font-size: 1.1em;*/
    /*-fx-background-color: red;*/

    -fx-border-radius: 20;
    -fx-min-width: 400;
    /*-fx-cursor: crosshair;*/
    /*background-color: red; !* Green *!*/
    /*border: none;*/
    /*color: #4CAF50;*/
    /*font-size: small;*/
    /*width: 500px;*/
}

#Button:hover {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-background-radius: 16px;
    -fx-border-radius: 40;

}